* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primaryColor: rgb(245, 61, 61);
  --mainWhite: white;
  --mainBlack: #222;
  --mainSpacing: 0.1rem;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  height: 150vh;
}

.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #4a4a4a;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.logo {
  width: 10%;
}
.title {
  color: white;
  font-size: 2rem;
}
.search-input {
  outline: 0;
  width: 60px;
  border: 0;
  text-align: center;
}

.nav-icon {
  font-size: 1.5rem;
  color: white;
}
.nav-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 30%;
  height: 50%;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

.hero {
  min-height: calc(60vh - 80px);
  background: url("../img/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: rgb(52, 32, 71);
}

/* products */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
